

.eight-vh-html-slider {
    background: #000;
}

.p2p-page-html-body-like {
    background: #fff;
    height: auto;
    padding-bottom: 20px;
}

.p2p-page-html-body-like .inactive-hidden {
    display: none;
}

.p2p-page-html-slider-div {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    background: #000;
}

.p2p-page-html-slider-div .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 240px;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.p2p-page-html-slider-div .slider .text {
    position: relative;
    width: 80%;
    height: 240px;
    color: #fff;
    text-align: center;
    font-size: 29px;
    padding-top: 120px;
    padding-left: 23.1px;
}

.p2p-page-html-slider-div .slide {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    display: none; /* Hide all slides by default */
}

.p2p-page-html-slider-div .slide.active {
    display: block; /* Show only the active slide */
}

.p2p-page-html-top-row {
    width: 100%;
    height: 110px;
    background: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 13px 13px 0 0;
    z-index: 1;
    border: 0;
}

.p2p-page-html-top-row .p2p-nav-option {
    position: absolute;
    left: 23.1px;
    margin-left: 0;
    background: #f3efef;
    color: #d3d3d3;
    border-radius: 63px;
    height: 8.1vh;
    width: auto;
    min-width: 33vw;
    margin-top: 23.7px;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.p2p-page-html-top-row .for-p2p-nav-option {
    width: 50%;
}

.p2p-page-html-top-row input[type="radio"] {
    display: none;
}

.p2p-page-html-top-row label {
    padding: 0.6vw;
    cursor: pointer;
    display: flex;
    width: 40%;
    height: 41%;
    align-items: center;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
    border-radius: 63px;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: center;
    font-size: 2.6vw;
}

.p2p-page-html-top-row input[type="radio"]:checked + label {
    font-weight: normal;
    color: #000;
    border-radius: 35px;
    border: 1px solid #ccc;
    background-color: #fff; /* example background color for selected item */
}

.p2p-page-html-top-row .options-currency-selection {
    width: 50%;
    display: flex;
    justify-content: right;
}

.p2p-page-html-top-row .options-currency-selection select {
    position: absolute;
    padding: 11px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 11px;
    background: transparent;
    border-radius: 63px;
    border: 1px solid #ccc;
    height: 5.1vh;
    width: 17.1vw;
    margin-top: 33px;
    font-size: 9px;
    margin-right: 21.3px;
}

.p2p-page-html-further-filters {
    width: 100%;
    height: 8vh;
    background: #fff;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    border-top: 0;
}

.p2p-page-html-further-filters .p2p-selection-options {
    display: flex;
    flex-direction: row;
    margin-left: 23.1px;
    padding-right: 2vw;
}

.p2p-page-html-further-filters .p2p-selection-options select {
    height: 4.1vh;
    font-size: 9pt;
    margin-right: 14px;
    margin-top: 1.7vh;
    max-width: 30vw;
}

.buyer-list, .seller-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 41.3px;
}

.buyer-info-details, .seller-info-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.buyer-info-buttons, .seller-info-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
}

.buyer-info-inc-filters-and-amount, .seller-info-inc-filters-and-amount {
    width: 84%;
}

.seller-info-buttons button {
    background-color: salmon;
    color: #fff;
    /**border: 0;**/
    border-radius: 63px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    /*
    height: 2vh;
    width: 13vw;
    font-size: 29px !important;*/
}

.buyer-info-buttons button {
    background-color: green;
    color: #fff;
    /**border: 0;**/
    border-radius: 63px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    /*
    height: 2vh;
    width: 13vw;
    font-size: 29px !important;*/
}

.buyer-list li, .seller-list li {
    margin-bottom: 20px;
}

.buyer-info, .seller-info {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 23.1px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.buyer-info svg, .seller-info svg {
    width: 5vw;
    height: 5vw;
}

.buyer-info h3, .seller-info h3 {
    margin-top: 0;
}

.info-delivery-method {
    border-left: 4px solid #c9ff36;
    padding: 4px;
    padding-left: 6.9px;
}

.buyer-info p, .seller-info p {
    margin-bottom: 10px;
}

