.orders-top-row {
    width: 100%;
    border-bottom: 1px solid #ccc;
    height:35.1px;
    background: #ffff;
    position: fixed;
    top: 0;
    padding-top: 9px;
    z-index: 1;
}

.orders-nav-option {
    left: 0;
    margin-left: 23.1px;
    background: #f3efef;
    color: #9b9797;
    border-radius: 63px;
    padding: 3px;
    width: 190px;
}

.tab-pane .orders-rows-filter {
    left: 0;
    position: fixed;
    top: 45.3px;
    width: 100vw;
    background: #fff;
    z-index: 1;
    padding-top: 7.3px;
}

.order-type-of {
    width: 100%;
    display: block;
    margin-left: 23.1px !important;
}

.order-type-of-select {
    width: 123px;
    left: 0;
    float: left;
}

.order-list {
    margin-top: 90px;
}
/**
.order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
**/

.buyer-list li {
    margin-bottom: 20px;
}

.order-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.order-info h3 {
    margin-top: 0;
}

.buyer-info-delivery-method {
    border-left: 4px solid #c9ff36;
    padding: 4px;
}

.buyer-info p {
    margin-bottom: 10px;
}

.order-info .order-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.order-header .order-title-container {
    min-width: 50%;
}

.order-header .order-status-container {
    width: 50%;
    text-align: right;
}


.order-info .order-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 7.1px;
}

.order-details .order-quantity {
    min-width: 50%;
}

.order-details .order-price {
    width: 50%;
    text-align: right;
}

.order-chat-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 11.1px;
}

.order-chat-container .order-chat-info {
    width: 50%;
}

.order-chat-container .order-chat-button {
    width: 50%;
    text-align: right;
}

.order-chat-container .order-chat-button button {
    background: transparent;
    border-radius: 63px;
}

.orders-top-row {
    background: #fff;
}

.orders-rows-filter {
    background: #fff;
}