.profile-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.profile-info-info {
    display: flex;
    flex-direction: row;
    min-width: 100%;
}

.profile-info-info-col {
    width: 50%;
    text-align: left;
}

.profile-info-more-btn {
    min-width: 100%;
    text-align: center;
}

.profile-info-buttons-div, .profile-info-buttons-btn {
    min-width: 100% !important;
}

.profile-info-buttons-div .profile-info-buttons-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 41.3px;
}

.profile-info-buttons-div .profile-info-button {
    width: 97.1%;
    height: inherit;
    padding-top: 13.1px;
}

.profile-info-buttons-div .profile-info-arrow {
    width: 2.9%;
    text-align: right;
    height: inherit;
    padding-top: 13.1px;
}

.profile-info-buttons {
    width: 100%;
}

.profile-info-with-web3-auth {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.profile-info-with-web3-auth .profile-picture-wrapper {
    width: 50%;
    padding-right: 3.1px;
}

.profile-info .profile-info-verification-badges {
    color: green
}