body {
    min-height: 100%;
}
.wrap-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.1px;
}

.tab-content {
  max-width: 100vw; /* set max-width to 100% of viewport width */
  margin: 0 auto; /* center horizontally */
  box-sizing: border-box; /* include padding and border in width calculation */
}

.nav-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}

.nav-tabs select {
    -webkit-tap-highlight-color: transparent;
    outline: none; /* remove blue outline border */
    border: none; /* remove border from select elements */
    border-radius: 63px;
}

.nav-tabs select:focus, .selection-options select:focus, .selection-options select:active {
    outline: none; /* remove blue outline border */
    border: none; /* remove border from select elements */
    background: transparent;
}

.top-row {
    top: 33px;
    position: fixed;
    width: 100%;
}

.options-currency-selection {
    position: absolute;
    right: 0;
    margin-right: 23.1px;
    border-radius: 63px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
}

.options-currency-selection select {
    padding: 11px;
    cursor: pointer;
    width: 97px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 11px;
    background: transparent;
}

.p2p-nav-option {
    position: absolute;
    left: 23.1px;
    margin-left: 0;
    background: #f3efef;
    color: #d3d3d3;
    border-radius: 63px;
    padding: 3px;
}

.nav-tabs input[type="radio"] {
    display: none;
}

.nav-tabs label {
    padding: 11px;
    cursor: pointer;
    width: 37px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    -webkit-tap-highlight-color: transparent;
    border-radius: 63px;
}

.nav-tabs input[type="radio"]:checked + label {
    font-weight: normal;
    color: #000;
    border-radius: 35px;
    border: 1px solid #ccc;
    background-color: #fff; /* example background color for selected item */
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    width: 100%;
}

.tab-pane {
    display: none;
    width: 100%; /* make the tab pane full-width */
}

.tab-pane.active {
    display: block;
}

.tab-content {
    margin-top: 50px; /* add some space between the nav tabs and the tab content */
    width: 100%;
}

/**
.buyer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
**/

.buyer-list li, .seller-list li {
    margin-bottom: 20px;
}

.buyer-info, .seller-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}

.buyer-info h3, .seller-info h3 {
    margin-top: 0;
}

.info-delivery-method {
    border-left: 4px solid #c9ff36;
    padding: 4px;
}

.buyer-info p, .seller-info p {
    margin-bottom: 10px;
}

.selection-row {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: thin; /* For Firefox */
    border-bottom: 1px solid #ccc;
    flex: 0 0 auto; /* prevent the flex items from shrinking */
}

.selection-row::-webkit-scrollbar {
    height: 8px; /* For WebKit Browsers */
    display: block; /* Ensure the scrollbar is always visible */
}

.selection-row-filter {
    position: fixed;
    top: 113px;
    border: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.selection-options {
    margin-left: 23.1px !important;
}

/**
.selection-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.selection-options select {
    float: left;
    padding-left: 23.1px !important;
    padding-right: 5.1px;
}

**/

.dynamic-island {
    position: fixed;
    bottom: 19px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 63px;
    padding-top: 10px;
    padding-top: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
}

.dynamic-island button {
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 63px;
    color: #9b9797;
    font-weight: bold;
    cursor: pointer;
    font-size: 9.13px !important;
    width: 38.3px;
    min-width: 38.3px;
    -webkit-tap-highlight-color: transparent;
}

.dynamic-island button:hover {
    background-color: transparent;
    color: #000;
}

.wrap-page-hidden {
    display: none;
}

.lone-tab-pane {
    display: block;
}

.profile-picture {
    border-radius: 100%;
}

.padding-for-lower-app-bar {
    padding-bottom: 80px;
}