.padding-for-lower-app-bar {
    padding-bottom: 180px;
}

body {
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 4.9vw;
    
}

.child-element-for-row-dynamic-island-cmd {
    width: 100%;
    height: 100%;
}

.hidden-child-element-for-row-dynamic-island-cmd {
    display: none;
}
